html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  height: 100%;
}

.App {
  position: relative;
  vertical-align: baseline;
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: stretch;
}

#map {
  position: relative;

  flex-grow: 1;
  min-width: 0;
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.popup-sectionEntry {
  margin: 0;
}

.popup-sectionHeader {
  font-weight: 700;
  margin-bottom: 0;
}

.mapboxgl-popup-content {
  width: 25em;
}

/* Larger than cellPhone ----------- */
@media only screen and (min-width : 481px) {

  /* Styles */
  .App {
    display: flex;
    flex-flow: row;

  }

  #sidebar {
    order: 0;
    height: 100vh;
    min-width: 350px;
    max-width: 35%;
  }

  #map {
    order: 1;
    height: 100vh;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 480px) {

  /* Styles */
  .App {
    display: flex;
    flex-flow: column;
  }

  #map {
    order: 0;
    height: 60vh;
  }

  #sidebar {
    order: 1;
    width: 100vw;
    height: 40vh;
    overflow-y: scroll;
  }
}