.tabela {
    margin-top: 5px;
}

.tabela header {
    padding: 0px 5px 0px 5px;
    min-height: 50px;
}

.tabela p {
    white-space: pre-line;
    margin-top: 0;
}

.tabela .card {
    margin: 0rem 0 1rem 0;
}

.tabela .card p {
    padding-bottom: 2px;
}

.tabela .card .card-content {
    padding: 8px;
}

.tabela .card ol {    
    margin-left:0;
    color: rgb(100,100,100);
}

.tabela .card li {
    position: relative;
    padding-left: 1em;
}

.tabela .card li:hover {
    color: rgb(0,0,0);
}

.tabela .card li:before {
    position:absolute;
    top:0;
    left:0;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    padding:0px;
    color:#fff;
    background:#2980b9;
    font-weight:bold;
    text-align:center;
    border-radius: .9em;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tabela .card li li:before{
    background-color: #3498db;
}

.rdt_Table { 
    min-height: 300px;
}

ul.lista-area {
    margin: 0;
}
  
.filtros {
    display: flex;
    width: 100%;
}

.filtros .input-field {
    margin-top: 0;
    margin-bottom: 0;
}

ul#select-options {
    width: 300px;
}

.filtros .filtrar-area {
    background: white;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    color: #212121;
    padding: 0;
}

.filtros .select {
    padding-right: 5px;
}
  
.filtros .hide {
    display: none;
}

.filtros .btn-small {
    height: 95%;
}

input#filtrar {
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align: center;
    min-width: 60%;
    margin-right: 5px;
    padding: 0;
}

.prestador-nome {
    display: flex;
    align-items: center;
}

a.linkSite {
    margin-left: 4px;
}

.filtros .btn-small.download-csv {
    display: flex;
    background: white;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    color: #4d4d4d;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 3px;
}

.filtros .btn-small.download-csv i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtros .filtrar-area .select_value {
    margin: 5px;
}

/* placeholder */
#filtrar::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 14px;
  }
  
#filtrar:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
}
  
#filtrar::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 14px;
}
  
#filtrar:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 14px;
}
  
#filtrar::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 14px;
}

#filtrar::placeholder { /* Most modern browsers support this now. */
    font-size: 14px;
}