button.btn.waves-effect.waves-light.select-area.blue {
    text-align: center;
    padding: 0px 15px;
}

.btn-select-area {
    width: 100%;
}

.select_list {
    max-width: 75%;
    background: white;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-flow: column;
}

.select_list label {
    padding: 0 5px 2px 10px;
}

.select_list button {
    width: 100%;
}

.select_list [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    width: 15px;
    height: 15px;
    content: '';
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin-right: 10px;
    display: block;
    transition: none;
}

.select_list [type="checkbox"].filled-in:checked+span:not(.lever):after {
    background: #0493D1;
    content: '✓';
    color: white;
    font-size: 13px;
    text-align: center;
    line-height: 15px;
    width: 15px;
    height: 15px;
    z-index: 1;
    border: 0;
    border-radius: 5px;
}

.select_list [type="checkbox"]+span:not(.lever) {
    padding: 20px;
    direction: rtl;
    display: inline;
    color: black;
    text-decoration: none;
    position: relative;    
    padding-top: 0px;
    font-size: 12px; 
}