.logos {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.logounesco {
    width: 50%;
}

a.logounesco img {
    width: 100%;
}

a.logoiea {
    width: 25%;
}

a.logoiea img {
    width: 100%;
}

.modal .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width : 480px) {
    .modal .modal-content {
        padding: 10px;
    }
    
    .logos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    a.logounesco {
        display: flex;
        width: 100%;
    }
    
    a.logounesco img {
        display: flex;
        width: 100%;
    }
    
    a.logoiea {
        justify-content: center;
        display: flex;
        width: 100%;
    }
    
    a.logoiea img {
        display: flex;
        width: 50%;
    }    
}